.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background: rgb(232,59,24);
    background: linear-gradient(90deg, rgba(232,59,24,0.9808298319327731) 34%, rgba(228,236,237,1) 68%);
    padding: 1rem;
    border: 2px solid #000;
    position: fixed;
    z-index: 2;
}
.navContainer figure{
    width: 100px;
}
.navContainer figure img{
    width: 50%;
    height: auto;
    border-radius: 20px;
    background-color: transparent;
    mix-blend-mode: multiply;
    animation: rotate 8s infinite linear;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.navContainer-routes{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}
.navContainer-routes li{
    list-style: none;
    font-size: 1rem;
}
.navContainer-routes__pathActive{
    text-decoration: none;
    color: mediumblue;
}
.navContainer-routes__pathDisable{
    text-decoration: none;
    color: #000;
    
}