.homeContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    padding: 40px;
    justify-items: center;
    position: relative;
}
.allPokemon{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.allPokemon button{
    width: 150px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid #000;
    &:hover{
        transform: scale(1.1);
        background-color: burlywood;
        cursor: pointer;
        font-weight: bolder;
        border: 2px solid red;
    }
}
.typesFilter{
    display: flex;
    justify-content: center;
    height: 2rem;
    gap: 2rem;
    margin-top: 1rem;
}
.buttonPageCurrently{
    background-color: chartreuse;
}
