.searchContainer{
    display: flex;
    /* align-items: center; */
    gap: 0.5rem;
    padding-right: 10px;
}
.searchContainer input{
    border: 2px rgba(244, 6, 6) solid;
    border-radius: 5px;
    text-align: center;
    width: 16rem;
    height: 2rem;
}
.searchContainer button{
    width: 4rem;
    border-radius: 5px;
    font-weight: bolder;
    &:hover{
        background-color: yellow;
        cursor: pointer;
    }
}